
<link rel="stylesheet" href="https://unpkg.com/leaflet@1.5.1/dist/leaflet.css" integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ=="
 crossorigin="" />

<!-- Make sure you put this AFTER Leaflet's CSS -->
<script src="https://unpkg.com/leaflet@1.5.1/dist/leaflet.js" integrity="sha512-GffPMF3RvMeYyc1LWMHtK8EbPv0iNZ8/oTtHPx9/cc2ILxQ+u905qIwdpULaqDkyBKgOaB57QTMg7ztg8Jm2Og=="
 crossorigin="">
</script>


<table >
  <tr>
    <td>
      <div id='LeafletMap'></div>
    </td>
  
  </tr>
  <tr>
    <td>
      still not worked:


      <table >
        <tr>
          <td>
            Map X coords:
            <input id = 'mapX' 
            pattern = '^[ 0-9]+$' size = '10'/>
            <p></p>
            Map Y coords:
            <input id = 'mapY' 
            pattern = '^[ 0-9]+$' size = '10'/>
          </td>
          <td>
            Marker X coords:
            <input id = 'markerX' 
            [(ngModel)] = "markerX"
            pattern = '^[ 0-9]+$' size = '10'/>
            <p></p>
            Marker Y coords:
            <input id = 'markerY' 
            [(ngModel)] = "markerY"
            pattern = '^[ 0-9]+$' size = '10'/>
          </td>
        </tr>
      </table>
    </td>
  </tr>
</table>
<!--input type = 'text' [(ngModel)]="maplaln.lat"-->
